body {
    background-color: black;
}
.ima {
    max-width: 400px;
    max-height: 475px;
    position: relative;
    overflow: hidden;

    img {
        margin: 0 -100px -100px -190px;
    }
}

.move {
    max-width: 400px;
    max-height: 475px;
    font-family: system-ui;
    h2 {
        color: #E70739;
    }
    .texte {
        padding: 30px;
        background-color: white;
        margin-top: -145px;
    }
    p { 
        color: #817974;
       }
}
.rectangle {
    position: relative;
    margin-top: -10px;
}
.cercle {
    position: absolute;
    left: 310px;
    top: -650px;
    }

.static {
    background-color: white;
    color: #817974;
    font-family: system-ui;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: -130px;
    z-index: 1;
    position: relative;

    .timer {

    width: 15px;
    height: 15px;
    
    }
    .coms {
    width: 15px;
    height: 15px;
    padding-left: 10px;
        }
}
.all {
    max-width: 400px;
    max-height: 475px;

}
