body {
    background-color: black;
}
.ima {
    max-width: 400px;
    max-height: 550px;
    position: relative;
    overflow: hidden;
    
    img {
        margin: 0 -100px -100px -190px;
        
    }
}

.move {
    max-width: 400px;
    max-height: 400px;
    font-family: system-ui;
    transition: margin 1s;
    position: absolute;
    margin-top: -20px;
    
    h2 {
        color: #E70739;
    }
    .texte {
        padding: 42px;
        background-color: white;
        margin-top: -125px;
        
    }
    p { 
        color: #817974;
       }
}
.rectangle {
    position: relative;
    margin-top: -10px;
    
}
.cercle {
    position: fixed;
    left: 315px;
    top: 0px;
    }

.static {
    background-color: white;
    color: #817974;
    font-family: system-ui;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    margin-top: 160px;
    z-index: 1;
    position: sticky;

    .timer {
    width: 12px;
    height: 12px;
        
    }
    .coms {
    width: 15px;
    height: 15px;
    padding-left: 10px;
        }
}
.all {
    max-width: 400px;
    max-height: 475px;

}

.move:hover {
 margin-top: -180px;

}
